body {
    background-color: #f5f5f5;
}

.login {
    margin-top: 10%;
    display: flex;
    justify-content: center;

}

.row {

    margin-top: 5%;
    display: flex;
    justify-content: center;
    text-align: center;
}
