{% extends "base.html" %}
{{ super() }}
{% block content %}
<div class="container">
    <div class='row login'>
        <div class="col-lg-4 ">
            <center>
                <h1>Welcome {{ current_user.username}}</h1>
            </center>
            <br>
            <form action="{{url_for('chat')}}" , method="POST">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul class=flashes>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}
                <div>
                    <label for="exampleInputEmail1" class="form-label">Room ID</label>
                    <input type="text" name="room_id" class="form-control" id="exampleInputEmail1"
                        aria-describedby="emailHelp" required>

                </div><br>

                <div class="d-grid gap-2">
                    <button class="btn btn-primary" type="submit">Join Room</button>
                </div>
                <br>

                <div class="container">
                    <div class='row'>
                        <div class="col">

                            <a class="btn btn-outline-dark chatbtn1" href="{{url_for('chat',a='True')}}">Create Room</a>
                            <a class="btn btn-danger chatbtn2" type="submit" href="{{url_for('logout')}}"> Logout </a>

                        </div>
                    </div>
                    <br>

            </form>
        </div>
    </div>
</div>
{% endblock %}