{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class='row login'>
        <div class="col-lg-4 ">
            <form action="">

                <div>
                    <label for="exampleInputEmail1" class="form-label">Username</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">Same name will be used for display while chatting</div>
                </div>
                <div>
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <br>
                <div class="d-grid gap-2">
                    <button class="btn btn-primary" type="submit">Login</button>
                </div>

            </form>
        </div>
    </div>
</div>
{% endblock %}