{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class='row login'>
        <div class="col-lg-4 ">
            <center>
                <h1>Welcome {{ current_user.username}}</h1>
            </center>
            <br>
            <form action="{{url_for('login')}}">

                <div>
                    <label for="exampleInputEmail1" class="form-label">Room ID</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        required>

                </div><br>

                <div class="d-grid gap-2">
                    <button class="btn btn-primary" type="submit">Join Room</button>
                </div>
                <br>
                <div class="gap-2">
                    <a class="btn btn-outline-dark" href="">Create Room</a>
                    <a class="btn btn-danger" type="submit" href="{{url_for('logout')}}">Logout</a>
                </div>
                <br>

            </form>
        </div>
    </div>
</div>
{% endblock %}