{% extends "base.html "%}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <form action="">
                <input type="text" class="form-control" id="roomid" aria-describedby="emailHelp"
                    placeholder="Enter Room Id here">
                <br>
                <div class="d-grid gap-2">
                    <button class="btn btn-primary" type="submit">Enter</button>
                </div><br>
                <div class="d-grid gap-2">
                    <a href="" class="btn btn-primary">Create</a>

                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}